grandpaflows2.json
[{"id":"f8615532.094028","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"9925e0a6.8be6a","type":"mqtt in","z":"f8615532.094028","name":"led/timeStart","topic":"led/timeStart","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":270,"y":160,"wires":[["7a5aed9e.aaaf34","416a86cd.e5a6e8"]]},{"id":"c237248f.c90aa8","type":"mqtt in","z":"f8615532.094028","name":"led/timeStop","topic":"led/timeStop","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":310,"y":480,"wires":[["52a7f096.37fa5"]]},{"id":"83a1bcad.65744","type":"debug","z":"f8615532.094028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":420,"wires":[]},{"id":"7a5aed9e.aaaf34","type":"function","z":"f8615532.094028","name":"","func":"var dt = new Date();\n\nvar time_msg = \n{\n    'payload':{\n        \"date\": dt.getDate(),\n        \"month\": dt.getMonth(),\n        \"year\": dt.getFullYear(),\n        \"hour\": dt.getHours(),\n        \"minute\": dt.getMinutes(),\n        \"second\": dt.getSeconds(),\n}\n}\nvar startSec = dt.getTime() /1000 ;\nglobal.set(\"startS\",startSec);\nglobal.set(\"starttime\",time_msg.payload);\nreturn time_msg.payload;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["b43657be.3f19e8"]]},{"id":"52a7f096.37fa5","type":"function","z":"f8615532.094028","name":"","func":"var stopDate = new Date();\nvar stopSec = stopDate.getTime() /1000 ;\n\na = global.get(\"startS\");\n\nmsg.payload = Math.round(stopSec - a) ;\nreturn msg\n\n","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["83a1bcad.65744","9518e225.48977","162dc166.ac301f"]]},{"id":"f57c0b3f.1ca708","type":"mongodb out","z":"f8615532.094028","mongodb":"21d9847c.40febc","name":"","collection":"starttime","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1070,"y":100,"wires":[]},{"id":"7b7f6f12.285f5","type":"mongodb out","z":"f8615532.094028","mongodb":"9ba7c2b5.83c28","name":"","collection":"duration","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1030,"y":520,"wires":[]},{"id":"b43657be.3f19e8","type":"json","z":"f8615532.094028","name":"","property":"payload","action":"","pretty":false,"x":750,"y":100,"wires":[["f57c0b3f.1ca708"]]},{"id":"9518e225.48977","type":"json","z":"f8615532.094028","name":"","property":"payload","action":"","pretty":false,"x":740,"y":520,"wires":[["7b7f6f12.285f5","4865b13d.92931"]]},{"id":"14915ac0.a72415","type":"ui_text","z":"f8615532.094028","group":"34c79e8.4108d62","order":6,"width":0,"height":0,"name":"","label":"recent to TOI : ","format":"{{msg.payload}}","layout":"row-center","x":1120,"y":200,"wires":[]},{"id":"416a86cd.e5a6e8","type":"function","z":"f8615532.094028","name":"","func":"a = global.get(\"starttime\");\nmsg.payload = a.date + \"/\"+a.month+ \n\"/\"+a.year+\" , \" + a.hour+\":\"+a.minute+\":\"+a.second;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["14915ac0.a72415"]]},{"id":"4865b13d.92931","type":"function","z":"f8615532.094028","name":"","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":640,"wires":[[]]},{"id":"162dc166.ac301f","type":"ui_chart","z":"f8615532.094028","name":"duration","group":"34c79e8.4108d62","order":7,"width":0,"height":0,"label":"granpa's time spending","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":660,"wires":[[]]},{"id":"ebacc4ad.fda118","type":"inject","z":"f8615532.094028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":640,"wires":[[]]},{"id":"26947fdd.0a2c1","type":"json","z":"f8615532.094028","name":"","property":"payload.payload","action":"","pretty":true,"x":390,"y":1000,"wires":[[]]},{"id":"bfa8b316.c649e","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21d9847c.40febc","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"pjdb","name":""},{"id":"9ba7c2b5.83c28","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"pjdb","name":""},{"id":"34c79e8.4108d62","type":"ui_group","z":"","name":"smart elderly home","tab":"bfde1388.5410d8","disp":true,"width":"6","collapse":false},{"id":"bfde1388.5410d8","type":"ui_tab","z":"","name":"smart elderly home","icon":"dashboard","disabled":false,"hidden":false}]