grandpaflows.json
[{"id":"20a542de.68378e","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"b1465942.c7de78","type":"mqtt out","z":"20a542de.68378e","name":"","topic":"led/switch","qos":"","retain":"","broker":"99cf8aa0.f8ff08","x":670,"y":220,"wires":[]},{"id":"2f70d407.e3180c","type":"ui_button","z":"20a542de.68378e","name":"bedroom to toilet","group":"34c79e8.4108d62","order":2,"width":0,"height":0,"passthru":false,"label":"bedroom to toilet","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":230,"y":180,"wires":[["b1465942.c7de78","7f3c4dea.37bbd4","7682427b.2a0004"]]},{"id":"56022103.c25d1","type":"ui_button","z":"20a542de.68378e","name":"bedroom to grandpa","group":"34c79e8.4108d62","order":4,"width":0,"height":0,"passthru":true,"label":"bedroom to grandpa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":260,"y":280,"wires":[["b1465942.c7de78","7f3c4dea.37bbd4","8c99f6db.280868"]]},{"id":"7f3c4dea.37bbd4","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"7682427b.2a0004","type":"function","z":"20a542de.68378e","name":"","func":"var stat = global.stat;\nif (msg.payload == \"on\") {\n    stat = !stat;\n}\nglobal.stat = stat;\nmsg.payload = stat === true ? \"ON\" : \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["5b1eb30.b4ad24c"]]},{"id":"5b1eb30.b4ad24c","type":"ui_text","z":"20a542de.68378e","group":"34c79e8.4108d62","order":3,"width":0,"height":0,"name":"","label":"bedroom to toilet status :","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":80,"wires":[]},{"id":"ee3bbae5.45b8a","type":"template","z":"20a542de.68378e","name":"","field":"payload","fieldType":"global","format":"handlebars","syntax":"mustache","template":"This is the payload: {{stat:true}} !","output":"str","x":260,"y":100,"wires":[["7682427b.2a0004"]]},{"id":"e5b87b53.22d4f8","type":"template","z":"20a542de.68378e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{stat2:true}} !","output":"str","x":280,"y":340,"wires":[["8c99f6db.280868"]]},{"id":"8c99f6db.280868","type":"function","z":"20a542de.68378e","name":"","func":"var stat2 = global.stat2;\nif (msg.payload == \"off\") {\n    stat2 = !stat2;\n}\nglobal.stat2 = stat2;\nmsg.payload = stat2 === true ? \"ON\" : \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["f4bbf458.04c828"]]},{"id":"f4bbf458.04c828","type":"ui_text","z":"20a542de.68378e","group":"34c79e8.4108d62","order":5,"width":0,"height":0,"name":"","label":"bedroom to grandpa status :","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":320,"wires":[]},{"id":"b7d9b512.2a5928","type":"function","z":"20a542de.68378e","name":"","func":"var dt = new Date();\n\nvar time_msg = \n{\n    'payload':{\n        \"date\": dt.getDate(),\n        \"month\": dt.getMonth(),\n        \"year\": dt.getFullYear(),\n        \"hour\": dt.getHours(),\n        \"minute\": dt.getMinutes(),\n        \"second\": dt.getSeconds(),\n}\n}\nvar startSec = dt.getTime() /1000 ;\nglobal.set(\"startS\",startSec);\nmsg.payload = time_msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["a45baea9.30b66"]]},{"id":"d6463c84.48cc4","type":"mqtt in","z":"20a542de.68378e","name":"led/timeStartA","topic":"led/timeStartA","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":250,"y":600,"wires":[["b7d9b512.2a5928"]]},{"id":"fae6ae7e.16a07","type":"mqtt in","z":"20a542de.68378e","name":"led/timeStopA","topic":"led/timeStopA","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":290,"y":740,"wires":[["a93a482c.b1e128","c18648a9.55d608"]]},{"id":"a93a482c.b1e128","type":"function","z":"20a542de.68378e","name":"","func":"var stopDate = new Date();\nvar stopSec = stopDate.getTime() /1000 ;\n\na = global.get(\"startS\");\n\nmsg.payload = Math.round(stopSec - a) ;\n\nvar b = ((300*(msg.payload/60))/1000)*5;\nmsg.payload = b;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["e818883a.75d4e8","f5131e5e.c0c9"]]},{"id":"73e205bd.167c8c","type":"ui_text","z":"20a542de.68378e","group":"34c79e8.4108d62","order":1,"width":0,"height":0,"name":"","label":"lights electricity charge :","format":"{{msg.payload}}","layout":"row-center","x":1290,"y":1020,"wires":[]},{"id":"a45baea9.30b66","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":560,"wires":[]},{"id":"e818883a.75d4e8","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":640,"wires":[]},{"id":"3ad676.3875a98a","type":"mongodb out","z":"20a542de.68378e","mongodb":"9ba7c2b5.83c28","name":"","collection":"elec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1010,"y":820,"wires":[]},{"id":"c18648a9.55d608","type":"mongodb in","z":"20a542de.68378e","mongodb":"21d9847c.40febc","name":"","collection":"elec","operation":"find","x":550,"y":980,"wires":[["3abb0d9a.c9d592"]]},{"id":"f5131e5e.c0c9","type":"json","z":"20a542de.68378e","name":"","property":"payload","action":"","pretty":false,"x":710,"y":820,"wires":[["3ad676.3875a98a","b606b4f5.7cea58"]]},{"id":"b606b4f5.7cea58","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":740,"wires":[]},{"id":"3abb0d9a.c9d592","type":"function","z":"20a542de.68378e","name":"","func":"var sum =0;\nfor (var i=0;i<msg.payload.length;i++){\n    \n     c = JSON.parse(msg.payload[i].payload);\n    sum += c;\n}\nmsg.payload = sum.toFixed(2) + \" bath\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":980,"wires":[["73e205bd.167c8c","e63c626a.7ec9c"]]},{"id":"e63c626a.7ec9c","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":900,"wires":[]},{"id":"61246746.7b22a8","type":"function","z":"20a542de.68378e","name":"","func":"var dt = new Date();\n\nvar time_msg = \n{\n    'payload':{\n        \"date\": dt.getDate(),\n        \"month\": dt.getMonth(),\n        \"year\": dt.getFullYear(),\n        \"hour\": dt.getHours(),\n        \"minute\": dt.getMinutes(),\n        \"second\": dt.getSeconds(),\n}\n}\nvar startSec = dt.getTime() /1000 ;\nglobal.set(\"startS2\",startSec);\nmsg.payload = time_msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1180,"wires":[["d557c686.24c578","efd67864.364d28"]]},{"id":"4ccfe9e1.2c69b8","type":"mqtt in","z":"20a542de.68378e","name":"led/timeStartB","topic":"led/timeStartB","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":310,"y":1240,"wires":[["61246746.7b22a8","78a16985.199a98"]]},{"id":"1d31ba61.34ee26","type":"mqtt in","z":"20a542de.68378e","name":"led/timeStopB","topic":"led/timeStopB","qos":"2","datatype":"auto","broker":"bfa8b316.c649e","x":350,"y":1380,"wires":[["5c1fc8f9.c8d3c8","c18648a9.55d608"]]},{"id":"5c1fc8f9.c8d3c8","type":"function","z":"20a542de.68378e","name":"","func":"var stopDate = new Date();\nvar stopSec = stopDate.getTime() /1000 ;\n\na = global.get(\"startS2\");\n\nmsg.payload = Math.round(stopSec - a) ;\n\nvar b = ((300*(msg.payload/60))/1000)*5;\nmsg.payload = b;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":550,"y":1380,"wires":[["40a8962b.c01308","ad780a47.2282b8"]]},{"id":"d557c686.24c578","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":1080,"wires":[]},{"id":"40a8962b.c01308","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1280,"wires":[]},{"id":"efa870fd.a1ed4","type":"mongodb out","z":"20a542de.68378e","mongodb":"9ba7c2b5.83c28","name":"","collection":"elec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1190,"y":1420,"wires":[]},{"id":"ad780a47.2282b8","type":"json","z":"20a542de.68378e","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1460,"wires":[["da68b7ba.540f98","efa870fd.a1ed4"]]},{"id":"da68b7ba.540f98","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1380,"wires":[]},{"id":"78a16985.199a98","type":"debug","z":"20a542de.68378e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":1120,"wires":[]},{"id":"efd67864.364d28","type":"json","z":"20a542de.68378e","name":"","property":"payload","action":"","pretty":false,"x":830,"y":1140,"wires":[[]]},{"id":"99cf8aa0.f8ff08","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34c79e8.4108d62","type":"ui_group","z":"","name":"smart elderly home","tab":"bfde1388.5410d8","disp":true,"width":"6","collapse":false},{"id":"bfa8b316.c649e","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ba7c2b5.83c28","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"pjdb","name":""},{"id":"21d9847c.40febc","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"pjdb","name":""},{"id":"bfde1388.5410d8","type":"ui_tab","z":"","name":"smart elderly home","icon":"dashboard","disabled":false,"hidden":false}]